.addToCart {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 90px;
}
.button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--button2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-25xl);
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--text);
  font-family: var(--title-20px-medium);
}
