.labtops {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: inline-block;
  min-width: 25px;
}
.badge {
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) var(--padding-mini);
  text-align: left;
  font-size: var(--title-14px-semibold-size);
  color: var(--colors-grey-dark-1);
  font-family: var(--font-dm-sans);
}
