.billingDetails1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 30px;
  font-weight: 500;
  font-family: inherit;
}
.span {
  color: var(--button2);
}
.firstName {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  display: inline-block;
  opacity: 0.4;
  min-width: 97px;
  color: inherit;
}
.addressFieldsChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  overflow: hidden;
}
.addressFields {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.companyName {
  position: relative;
  line-height: 24px;
}
.addressFields1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-gray-200);
}
.streetAddress {
  position: relative;
  line-height: 24px;
  display: inline-block;
  opacity: 0.4;
  min-width: 124px;
}
.towncity {
  display: inline-block;
  min-width: 89px;
}
.emailAddress,
.phoneNumber,
.towncity {
  position: relative;
  line-height: 24px;
  opacity: 0.4;
}
.emailAddress {
  display: inline-block;
  min-width: 125px;
}
.addressFieldsParent,
.billingDetailsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--button);
}
.addressFieldsParent {
  flex: 1;
  gap: var(--gap-13xl);
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-20px-medium);
}
.billingDetailsParent {
  height: 844px;
  gap: var(--gap-29xl);
  font-size: var(--heading-36px-regular-size);
  font-family: var(--heading-24px-semibold);
}
.iconCheckboxFormcheck {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.billingDetails,
.checkoutOptions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.billingDetails {
  width: 588px;
  background-color: var(--primary);
  overflow: hidden;
  flex-direction: column;
  padding: 62px 58px 56px 60px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-20px-medium);
}
@media screen and (max-width: 470px) {
  .addressFieldsParent {
    gap: var(--gap-base);
  }
  .billingDetailsParent {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 294px) {
  .billingDetails {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
