.categoryList {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--title-14px-semibold-size);
  color: var(--colors-grey-dark-1);
  font-family: var(--font-dm-sans);
}
@media screen and (max-width: 450px) {
  .categoryList {
    flex-wrap: wrap;
  }
}
