.g922500x5001Icon {
  position: absolute;
  height: 78.15%;
  width: 90.56%;
  top: 11.11%;
  right: 3.89%;
  bottom: 10.74%;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.gamepadCartSmall {
  height: 54px;
  width: 54px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lcdMonitor,
.priceSeparator {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 96px;
}
.priceSeparator {
  min-width: 41px;
  white-space: nowrap;
}
.productItems,
.productPricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.productPricing {
  flex: 1;
  justify-content: space-between;
  min-width: 137px;
  gap: var(--gap-xl);
}
.productItems {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.g27cq4500x5001Icon {
  position: absolute;
  height: 72.22%;
  width: 92.59%;
  top: 14.81%;
  right: 3.7%;
  bottom: 12.96%;
  left: 3.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lcdMonitor1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 103px;
}
.lcdMonitorParent,
.productItems1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.lcdMonitorParent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  min-width: 144px;
  max-width: 100%;
}
.productItems1 {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.mainContent,
.productItems1,
.productListing {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.productListing {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.mainContent {
  width: 443px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 9px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-20px-medium);
}
.subtotal,
.subtotalValue {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 71px;
}
.subtotalValue {
  min-width: 44px;
  white-space: nowrap;
}
.subtotalParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.underlineIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.summaryItems {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.free,
.shipping {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 74px;
}
.free {
  min-width: 34px;
}
.summaryValues,
.summaryValuesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.summaryValuesParent {
  padding: 0;
}
.total {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.orderSummary,
.summaryDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.summaryDetails {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.orderSummary {
  width: 446px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-20px-medium);
}
.radioButtonIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.cashOnDelivery {
  position: relative;
  line-height: 24px;
}
.checkout,
.paymentOptions,
.paymentSelection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.paymentSelection {
  gap: var(--gap-base);
}
.checkout,
.paymentOptions {
  padding: 0 var(--padding-xs);
}
.checkout {
  width: 567px;
  background-color: var(--primary);
  max-width: 100%;
  flex-direction: column;
  padding: 0 var(--padding-21xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-20px-medium);
}
@media screen and (max-width: 450px) {
  .lcdMonitorParent,
  .productPricing {
    flex-wrap: wrap;
  }
  .productListing {
    gap: var(--gap-base);
  }
  .subtotalParent {
    flex-wrap: wrap;
  }
  .summaryItems {
    height: auto;
  }
  .checkout {
    gap: var(--gap-base);
  }
}
