.filter1,
.iconX {
  position: relative;
}
.filter1 {
  margin: 0;
  flex: 1;
  font-size: var(--heading-24px-semibold-size);
  letter-spacing: 0.2px;
  line-height: 36px;
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--button);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 59px);
}
.iconX {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.product {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.category {
  text-decoration: none;
  position: relative;
  font-size: var(--title-16px-regular-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--button);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.sortBy {
  text-decoration: none;
  position: relative;
  font-size: var(--title-16px-regular-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--button);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.sortButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.addToCart {
  position: relative;
  font-size: var(--title-14px-semibold-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--button);
  text-align: left;
}
.buttonPrimary {
  height: 39px;
  border-radius: var(--br-3xs);
  background-color: var(--primary);
  border: 1px solid var(--colors-grey-dark-1);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi) var(--padding-mini);
}
.sortButtons1,
.sortOptions,
.sorting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.sortButtons1 {
  width: 203px;
  flex-direction: row;
}
.sortOptions,
.sorting {
  flex-direction: column;
}
.sorting {
  gap: var(--gap-3xs);
}
.priceRange {
  position: relative;
  font-size: var(--title-16px-regular-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-family: var(--font-dm-sans);
  color: var(--button);
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.filter,
.price,
.priceInput {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceInput {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-mid);
}
.filter,
.price {
  flex-direction: column;
  max-width: 100%;
}
.price {
  width: 327px;
  gap: var(--gap-3xs);
}
.filter {
  margin: 0;
  flex: 1;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--primary);
  overflow: hidden;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-145xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
@media screen and (max-width: 750px) {
  .filter,
  .product {
    gap: var(--gap-mid);
  }
  .filter {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-88xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .filter1 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}
