.about {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-20px-medium);
}
